/bcai_deploy/node_modules/
/bcai_deploy/client/build/

/ML/localUser/node_modules/
/ML/client/node_modules/
/ML/localWorker/node_modules/
/ML/localUser/result.zip
/ML/localWorker/result.zip

/ML/localUser/curState.json
/ML/localWorker/curState.json

/ML/localWorker/screens/cap.png

/ML/localUser/'user CLI'/node_modules
/ML/localUser/'worker CLI'/node_modules
/ML/localUser/'user CLI'/image.zip
/ML/localUser/'worker CLI'/image.zip


